@media screen and (max-width:767px) {
.box1 {
  float: left;
  background-color: lightgrey;
  width: 747px;
  border: 1px solid black;
  padding: 0px;
  margin: 20px;
}
.box3 {
  float: left;
  background-color: lightgrey;
  width: 747px;
  border: 1px solid black;
  padding: 0px;
  margin: 20px;
}
}
@media screen and (min-width:768px) and (max-width:991px) {
.box1 {
  float: left;
  background-color: lightgrey;
  width: 485.5px;
  border: 1px solid black;
  padding: 0px;
  margin: 20px;
}
.box3 {
  float: left;
  background-color: lightgrey;
  width: 971;
  border: 1px solid black;
  padding: 0px;
  margin: 20px;
}
}
@media screen and (min-width:992px) {
.box1 {
  float: left;
  background-color: lightgrey;
  width: 330.6px;
  border: 1px solid black;
  padding: 0px;
  margin: 20px;
}
.box3 {
  float: left;
  background-color: lightgrey;
  width: 330.6px;
  border: 1px solid black;
  padding: 0px;
  margin: 20px;
}
}
.box1Body {
  float: left;
    font-family: Comic Sans MS, Comic Sans, bold;
  background-color: lightgrey;
  margin: 10px;
  font-size: 14px;
}
.title1 {
  float: right;
  text-align: center;
    font-family: Comic Sans MS, Comic Sans, bold;
  background-color: pink;
  border: 1px solid black;
  width: 30%;
  padding: 10px;
  margin: -1px;
  font-size: 18px;
}
.title2 {
  float: right;
  font-family: Comic Sans MS, Comic Sans, bold;
  text-align: center;
  background-color: red;
  border: 1px solid black;
  width: 30%;
  padding: 10px;
  margin: -1px;
  font-size: 18px;
}
.title3 {
  float: right;
  text-align: center;
    font-family: Comic Sans MS, Comic Sans, bold;
  background-color: yellow;
  border: 1px solid black;
  width: 30%;
  padding: 10px;
  margin: -1px;
  font-size: 18px;
}
p {
  font-family: Comic Sans MS, Comic Sans, bold;
  text-align: center;
  font-size: 24px;
}
