@media screen and (max-width:767px) {
.box1 {
  float: left;
  background-color: lightgrey;
  width: 90%;
  transform: translateX(5%);
  border: 2px solid black;
  padding: 0px;
  margin: 20px;
}
}
@media screen and (max-width:991px), screen and (min-width:768px) {
.box1 {
  float: left;
  background-color: lightgrey;
  width: 50%;
  border: 2px solid black;
  padding: 0px;
  margin: 20px;
}
}
@media screen and (min-width:992px) {
.box1 {
  float: left;
  background-color: lightgrey;
  width: 33%;
  border: 2px solid black;
  padding: 0px;
  margin: 20px;
}
}
.box1Body {
  float: left;
    font-family: Comic Sans MS, Comic Sans, bold;
  background-color: lightgrey;
  margin: 10px;
  font-size: 14px;
}
.title1 {
  float: right;
  text-align: center;
    font-family: Comic Sans MS, Comic Sans, bold;
  background-color: pink;
  border: 2px solid black;
  width: 30%;
  padding: 10px;
  margin: -2px;
  font-size: 18px;
}
.title2 {
  float: right;
  font-family: Comic Sans MS, Comic Sans, bold;
  text-align: center;
  background-color: red;
  border: 2px solid black;
  width: 30%;
  padding: 10px;
  margin: -2px;
  font-size: 18px;
}
.title3 {
  float: right;
  text-align: center;
    font-family: Comic Sans MS, Comic Sans, bold;
  background-color: yellow;
  border: 2px solid black;
  width: 30%;
  padding: 10px;
  margin: -2px;
  font-size: 18px;
}
p {
  font-family: Comic Sans MS, Comic Sans, bold;
  text-align: center;
  font-size: 24px;
}
